* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Poppins', sans-serif;
  background: #f2f2f2;
  color: #333;
}

.box{
  position: relative;
  width: 250px;
}

#password {
  width: 100%;
  padding: 10px 50px 10px 10px;
  font-size: 16px;
}

#toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  font-size: 14px;
  color: #0078ff;
  user-select: none;
}